<mat-toolbar color="primary">
    <div style="width: 100%;">Token Details</div>
</mat-toolbar>
<div class="layout">
    <!-- <div class="layout">
        Assets
        <div class="search">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
            </mat-form-field>
            <button mat-raised-button color="primary" style="margin-left: 30px;" (click)="addNewAsset()">Create
                Asset</button>
        </div>
        <table mat-table matTableExporter [dataSource]="dataSource" matSort class="mat-elevation-z8"
            style="width: 100%;">

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row;let i = index; columns: displayedColumns;"></tr>
            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{ (i+1) + (paginator.pageIndex *
                    paginator.pageSize) }} </td>
            </ng-container>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
            </ng-container>
            <ng-container matColumnDef="color">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
                <td mat-cell *matCellDef="let element"> {{element.Color}} </td>
            </ng-container>
            <ng-container matColumnDef="owner">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Owner </th>
                <td mat-cell *matCellDef="let element"> {{element.Owner}} </td>
            </ng-container>
            <ng-container matColumnDef="appraisedValue">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Appraised Value </th>
                <td mat-cell *matCellDef="let element"> {{element.AppraisedValue}} </td>
            </ng-container>
            <ng-container matColumnDef="size">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
                <td mat-cell *matCellDef="let element"> {{element.Size}} </td>
            </ng-container>
            <ng-container matColumnDef="transfer">
                <th mat-header-cell *matHeaderCellDef> Trasnfer </th>
                <td mat-cell *matCellDef="let element;let i = index" style="padding-right: 15px;">
                    <span class="material-icons" style="cursor: pointer;" (click)="delete(element,i)">arrow_forward</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Edit </th>
                <td mat-cell *matCellDef="let element;let i = index" style="padding-right: 15px;">
                    <span class="material-icons" style="cursor: pointer;" (click)="editRow(element,i)">edit</span>
                </td>
            </ng-container>
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element;let i = index" style="padding-right: 15px;">
                    <span class="material-icons" style="cursor: pointer;" (click)="delete(element,i)">delete</span>
                </td>
            </ng-container>


        </table>
        <mat-paginator [length]="100" showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div> -->


    <div class="row" style="margin-top: 0px; display: flex; justify-content:space-between 10px;">
        <div class="col-lg-3">
            <mat-card>
                <div>Name :
                    {{response.name}}
                </div>
            </mat-card>
        </div>

        <div class="col-lg-3">
            <mat-card>
                <div>Symbol :
                    {{response.symbol}}
                </div>
            </mat-card>
        </div>

        <div class="col-lg-3">
            <mat-card>
                <div>Type :
                    {{response.type}}
                </div>
            </mat-card>
        </div>
        <div class="col-lg-3">
            <mat-card>
                <div>Total supply :
                    {{response.totalSupply}}
                </div>
            </mat-card>
        </div>

        <!-- <div class="col-lg-3">
          <mat-card>
              <div>Created :
                <span *ngIf="response.created!=null">{{utility.getDate(response.created)}}
                  {{utility.getTime(response.created)}}</span>          </div>
          </mat-card>
        </div> -->

    </div>
    <form [formGroup]="mintForm" (ngSubmit)="onSubmit()" style="padding: 10px;">
        <div style="margin-top: 10px;">
            <h4>Mint</h4>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Enter the token count</mat-label>
                    <input matInput type="number" formControlName="amount" required>
                </mat-form-field>
                <button [disabled]="!mintForm.valid" style="margin-left: 20px;" mat-raised-button color="primary">
                    Mint
                </button>
            </div>
        </div>
    </form>

    <form [formGroup]="transferFromForm" (ngSubmit)="onSubmitTransferFrom()" style="padding: 10px;">
        <div style="margin-top: 10px;">
            <h4>Transfer From</h4>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Transfer From</mat-label>
                    <input matInput type="text" formControlName="from" required>
                </mat-form-field>
                <mat-form-field appearance="outline" style="margin-left: 10px; margin-right: 10px;">
                    <mat-label>Transfer To</mat-label>
                    <input matInput type="text" formControlName="to" required>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" formControlName="value" required>
                </mat-form-field>
                <button style="margin-left: 20px;" [disabled]="!transferFromForm.valid" mat-raised-button color="primary">
                    Transfer From
                </button>
            </div>
        </div>
    </form>

    <form [formGroup]="clientAccountBalanceForm" (ngSubmit)="onSubmitClientAccountBalance()" style="padding: 10px;">
        <div style="margin-top: 10px;">
            <h4>Client Account Balance</h4>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Name Of The Client</mat-label>
                    <input matInput type="text" formControlName="name" required>
                </mat-form-field>
                <button [disabled]="!clientAccountBalanceForm.valid" style="margin-left: 20px;" mat-raised-button color="primary">
                    Client Account Balance
                </button>
            </div>
        </div>
    </form>

    <form [formGroup]="BalanceOfForm" (ngSubmit)="onSubmitBalanceOff()" style="padding: 10px;">
        <div style="margin-top: 10px;">
            <h4>Balance Off</h4>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input matInput type="text" formControlName="user" required>
                </mat-form-field>
                <button [disabled]="!BalanceOfForm.valid" style="margin-left: 20px;" mat-raised-button color="primary">
                    Balance Off
                </button>
            </div>
        </div>
    </form>

    <form [formGroup]="transferForm" (ngSubmit)="onSubmitTransfer()" style="padding: 10px;">
        <div style="margin-top: 10px;">
            <h4>Transfer</h4>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Transfer To</mat-label>
                    <input matInput type="text" formControlName="to" required>
                </mat-form-field>
                <mat-form-field appearance="outline" style="margin-left: 10px;">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" formControlName="value" required>
                </mat-form-field>
                <button [disabled]="!transferForm.valid" style="margin-left: 20px;" mat-raised-button color="primary">
                    Transfer
                </button>
            </div>
        </div>
    </form>

    <form [formGroup]="burnForm" (ngSubmit)="onSubmitBurn()" style="padding:10px;">
        <div style="margin-top:10px;">
            <h4>Burn</h4>
            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Amount</mat-label>
                    <input matInput type="number" formControlName="amount" required>
                </mat-form-field>
                <button [disabled]="!burnForm.valid" style="margin-left: 20px;" mat-raised-button color="primary">
                    Burn
                </button>
            </div>
        </div>
    </form>


    <!-- <div class="row" style="margin-top: 10px;">
        <button (click)="transferFromSave()" mat-raised-button color="primary">
            Transfer From
        </button>

        <button routerLink="" mat-raised-button color="primary">
            Client Account Balance
        </button>

        <button routerLink="" style="margin: 0px 20px; margin-top: 10px;" mat-raised-button color="primary">
            Balance Off
        </button>

        <button (click)="transferSave()" style="margin: 0px 20px; margin-top: 10px;" mat-raised-button color="primary">
            Transfer
        </button>

        <button (click)="burnSave()" style="margin: 0px 20px; margin-top: 10px;" mat-raised-button color="primary">
            Burn
        </button>

    </div> -->