.layout{
    margin: 40px 10%;
}
.search{
     float: right;
}
.image{
    width: 50%;
    height: 50%;
    text-align: center;
    // image-orientation: url('../../assets/websit_image_2.jpeg') no-repeat center;
    // background-size: 100% 100%;
    // background-position: top center;
    background-color: white;
}